page-selectPayer{
  
   
   .modular{
	   	background-color: #fff;
	   	border-bottom: 1px solid #e5e5e5;
	   	border-top: 1px solid #e5e5e5;
         margin-top:10px;
   }
   .modular button{
      color: #000;
   }
   .litte_title{
	   	 font-size: 14px;
	   	 line-height: 25px;
	   	
	   	 font-weight: 500;
	   	 margin-bottom: 3px;
   }

   .right_span{
      float: right;
   }
   .modular div{
      line-height: 25px;
   }
   .hui_div{
      color: #888;
      font-size: 13px;
      clear:both;
   }
   .creditimg{
      width:12px;
      vertical-align: middle;
   }
    .null_list{
            padding:30px 5px;
            font-size: 16px;
            color:#999;
        }
   .headImg img{
      border-radius:100%;
      margin-top:10px;width: 100%;
   }
}
