<ion-header>
    <ion-toolbar>
        <ion-buttons start>
              <button ion-button icon-only (click)="goToBackPage()">
                <ion-icon name="arrow-back"></ion-icon>
              </button>
        </ion-buttons>
        <ion-title center>确认收款</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
	
	<div style="margin-top:10px;" *ngIf="items != null && items != ''">
		<ion-list *ngFor="let item of items,let i=index" class="borderlist" >
				 <ion-item (click)="gotoWithdrawCashOrderDetailPage(item.id)">
				 	<div class="recordName">
					 	<span>订单号：{{item.orderId}}</span>
					 	<b *ngIf="item.transactionState<50" (click)="confirm($event,item.id,i)">确认收款</b>
					 	<b *ngIf="item.transactionState==50" style="background: #767676;">完成收款</b>
				 	</div>
				 	<div class="userinfo" style="padding-top: 5px;">
				 		打款人：{{item.targetName}}<span>{{item.amount}} RMB</span>
				 	</div>
				 	<div class="userinfo">
				 		打款银行：{{item.targetBankName}}<span style="color: #868686;">实付金额{{item.rmbAmount}} RMB</span>
				 	</div>
				 	<div class="userinfo">
				 		打款账号：{{item.targetBankCard}} 
				 		<span class="recordTime">{{this.utils.formatDate(item.createTime,'yyyy-MM-dd hh:mm')}}</span>

				 	</div>
				 
				 </ion-item>
		</ion-list>
		<div style=" text-align: center; padding:32px 0; font-size: 14px; font-weight: 500; color: #666;letter-spacing: 2px;">
            <span *ngIf="showScroll">
                下拉加载更多数据...
            </span>
            <span *ngIf="!showScroll">
                已经全部加载完了...
            </span>

        </div>
	</div>
	<ion-list class="null_list" *ngIf="items == null || items == ''">
            <ion-row>
                <ion-col text-center>
                    没有找到相关记录
                </ion-col>
            </ion-row>
        </ion-list>
     
       
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="showScroll">
			<ion-infinite-scroll-content ></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>


