page-feedBack{

    

    ion-list{
        margin:0 !important;
        height:100%;
        position: relative;
    }
    .feedBackType{
        background:#fff;
        font-size: 12px;
        ion-col{
            padding:7px 5px 7px 10px;
            mark{
                color:red;
                background:none;
                margin-left:5px;
            }
        }
    }
    .feedBackChoice{
        border-top:1px #e5e5e5 solid;
        background:#fff;
        ion-col{
            padding:5px;
            span{
                border:1px #dedede solid;
                padding:3px 10px;
                border-radius:20px;
                margin:5px 10px 5px 0;
                display: inline-block;
            }
        }
        .spanChoice{
            border:1px #FF651E solid;
            color:#FF651E;
            background-color:rgba(255,101,30,0.2);
        }
    }
    .feedBackInfo{
        background:#fff;
        ion-col{
            padding:0 5px 5px 5px;
            ion-textarea{
                height: 180px;
                padding:0 5px 5px 5px;
                textarea{
                    height:100% !important;
                    margin:0 !important;
                }
            }
            .numPrompt{
                mark{
                    color:red;
                    background:none;
                }
                font-size: 12px;
                color:#999;
                float:left;
            }
            .stringNum{
                float:right;
                color:#999;
            }
        }
    }
    .feedBackScreenshot{
        background:#fff;
        font-size: 12px;
        border-top:3px #e5e5e5 solid;
        ion-col{
            padding:7px 5px 7px 10px;
        }
    }
    .feedBackAddImg{
        background:#fff;
        padding:5px;
        border-top:1px #e5e5e5 solid;
        ion-col{
            position: relative;
            span{
                position: absolute;
                right:0;
                top:0;
                border:1px #000 solid;
                border-radius:50%;
                text-align: center;
                font-size: 18px;
                line-height: 15px;
                width:15px;
                height:15px;
            }
            img{
                width:100%;
                
            }
        }
    }
    .footIfo{

        width:100%;
        .btn_submit{
            border-top:3px #e5e5e5 solid;
            button{
                width:90%;
                margin:5px 0 5px 5%;
                background:#46adfc;
                color:#fff;
                font-size: 16px;
                padding:10px 0;
            }
        }
        .serviceTelephone{
            ion-col{
                padding:0 5px 5px 5px;
            }
            background:#fff;
            color:#999;
            font-size: 12px;
        }

    }

    .icon_add{
        font-size:50px;
        width:90px;
        height:90px;
        color:#999;
       
        line-height:90px;
        
    }


    .submitdata{
            margin-top:10%;
        width:96%;
        margin-left:2%;
        margin-right:2%;
        height:45px;
        font-size:18px;
        line-height:45px;
        background:#fd8832;
        color:white;
        border-radius:5px 5px 5px 5px;
    }



}
