<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="goToBackPage()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title center>投诉建议</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background:#e5e5e5;">
    <ion-list>
        
       
        <ion-row class="feedBackInfo">
            <ion-col>
                <br/>
                <ion-textarea maxlength="200" bindon-ngModel="feedBackDetail" placeholder="描述一下您的问题" type="text" (keyup)="checkLength()"></ion-textarea>
                <span class="numPrompt"><mark>*</mark>投诉建议最少输入5个字符</span>
                <span class="stringNum">{{feedBackDetailLength}}/200</span>
            </ion-col>
        </ion-row>
        <ion-row class="feedBackScreenshot">
            <ion-col style="color:#999">请提供相关问题截图</ion-col>
        </ion-row>
        <ion-row class="feedBackAddImg">
            
             
            <ion-col col-3 *ngFor="let item of feedBackImgs;let i=index " text-center>
                <img src="{{item}}"  />
                <span (click)="removeImg(i)">×</span>
            </ion-col>
            <ion-col col-3 (click)="addImages(1)"  *ngIf="isShowAdd"   text-center>
                 <ion-icon name="ios-add-circle-outline" class="icon_add"></ion-icon>
            </ion-col>
        </ion-row>

         <ion-row>
                <div class="footIfo">
                    <ion-row >
                        <ion-col>
                            <button [disabled]="submitDisabled" (click)="submitFeedBack()"      class="submitdata" >提交</button>
                        </ion-col>
                    </ion-row>
                </div>

         </ion-row>
    </ion-list>


</ion-content>

