// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #fd8832,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #F4F4F4,
  dark:       #222,
  sutongbao:       #F6F6F6
);


$background-color: color($colors, sutongbao);
$toolbar-background: color($colors, primary);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$loading-ios-background: rgba(0,0,0,0.8);
$loading-ios-text-color: #FFF;
$loading-ios-spinner-color: #FFF;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// 去头部下边线
.header,.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios {
   border:none !important;
}
 $loading-ios-background:rgba(0,0,0,0.6);
  .tabs-ios .tabbar {
      border-top:none !important;
      background: #fff;
    }
  .tabs-md .tabbar { 
    background: #fff;
  }
  .tabs-wp .tabbar {
    background: #fff;
  }


.ion-tab-icon-base {  
  width: 30px;
  height: 30px;
   padding: 2px;


}

.ion-tab-icon-md-base {
  min-width: 0 !important;
  height: 30px;

}

$tabImageName: 'tab1' 'tab2' 'tab3';
@for $i from 1 to 4 {

  .ion-ios-tab-#{nth($tabImageName, $i)} {
    @extend .ion-tab-icon-base;
    content: url("../assets/img/#{nth($tabImageName, $i)}.png");
  }
  .ion-ios-tab-#{nth($tabImageName, $i)}-outline {
    @extend .ion-tab-icon-base;
    content: url("../assets/img/#{nth($tabImageName, $i)}_choosed.png");
  }


  .tabs-md .tab-button[aria-selected=true] {
    .ion-md-tab-#{nth($tabImageName, $i)} {
      @extend .ion-tab-icon-md-base;
      content: url("../assets/img/#{nth($tabImageName, $i)}.png");
    }
  }
  .tabs-md .tab-button[aria-selected=false] {
    .ion-md-tab-#{nth($tabImageName, $i)} {
      @extend .ion-tab-icon-md-base;
      content: url("../assets/img/#{nth($tabImageName, $i)}_choosed.png");
    }
  }

}
.tabs-ios[tabsLayout=icon-right] .tab-button .tab-button-text,
.tabs-ios[tabsLayout=icon-left] .tab-button .tab-button-text,
.tabs-ios[tabsLayout=icon-end] .tab-button .tab-button-text,
.tabs-ios[tabsLayout=icon-start] .tab-button .tab-button-text {
  font-size: 1.6rem;
  line-height:normal;
  margin-top:8px;
}

.tabs-ios[tabsLayout=icon-right] .tab-button ion-icon,
.tabs-ios[tabsLayout=icon-left] .tab-button ion-icon,
.tabs-ios[tabsLayout=icon-end] .tab-button ion-icon,
.tabs-ios[tabsLayout=icon-start] .tab-button ion-icon {
  min-width: 24px;
  font-size: 24px;
  width: 30px;
  height: auto;
}