page-bank {
    .div{
    width: 100%; 
    height: 100px;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:10px;
    background-color:#46adfc;
    opacity: 0.9;   
}


.div1{
    width: 100%; 
    height: 70px;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:10px;
    background-color: #fd8832;
   
}


.div ion-row ion-col {
    opacity: 1.0;
    color: white;
}
.div ion-row img {
    border-radius:40px;
    background-color: red;
    opacity: 1.0;   
}

.moren{
    border:1px solid white;
    text-align: center;
    width:50px;
    border-radius: 3px 3px 3px 3px ;
    
    
}


}

