<ion-header>
    <ion-toolbar>
        <ion-buttons start>
              <button ion-button icon-only (click)="goToBackPage()">
                <ion-icon name="arrow-back"></ion-icon>
              </button>
        </ion-buttons>
        <ion-title center>选择打款人</ion-title>
   		<ion-buttons end>
              <button ion-button clear (click)="gotoWithdrawCashRecordPage()">
              		记录
              </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
	<div  *ngIf="items != null && items != ''">
		<!-- 列表-->
		<ion-grid class="modular" *ngFor="let item of items">
			 <ion-row (click)="selectUser(item.nickName,item.amount,item.id)">
			    <ion-col col-2 class="headImg">
			    	 <img src="assets/img/avatar.png" *ngIf="item.imgPath==null" />
                    <img src="{{imgUrl+item.imgPath}}" *ngIf="item.imgPath!=null" />
			    </ion-col>
			    <ion-col col-10>
			    	<div>
			    		<span>{{item.nickName}}</span>
			    		<span class="right_span"  style="min-width: 62%;text-align: right;">交易金额：{{nativeService.getFloat2(item.amount,2)}} RMB</span>
			    	</div>
			    	<div class="hui_div">
			    		<span>信用</span>
			    		<img src="assets/img/reputation.png" class="creditimg"  *ngIf="item.credit>0"/>
			    		<img src="assets/img/reputation.png" class="creditimg" *ngIf="item.credit>1"/>
			    		<img src="assets/img/reputation.png" class="creditimg" *ngIf="item.credit>2"/>
			    		<img src="assets/img/reputation.png" class="creditimg" *ngIf="item.credit>3"/>
			    		<img src="assets/img/reputation.png" class="creditimg" *ngIf="item.credit>4"/>
			    		<span class="right_span" style="min-width: 58%;text-align: right;">实付金额：{{nativeService.getFloat2(item.rmbAmount,2)}} RMB</span>
			    	</div>
			    	<div class="hui_div" >
			    		支付方式：{{item.bankName}}
			    	</div>
			    </ion-col>
			 </ion-row>
		</ion-grid>

		<div style=" text-align: center; padding:32px 0; font-size: 14px; font-weight: 500; color: #666;letter-spacing: 2px;">
            <span *ngIf="showScroll">
                下拉加载更多数据...
            </span>
            <span *ngIf="!showScroll">
                已经全部加载完了...
            </span>

        </div>
		
	</div>	

	<ion-list class="null_list" *ngIf="items == null || items == ''">
            <ion-row>
                <ion-col text-center>
                    没有找到相关记录
                </ion-col>
            </ion-row>
        </ion-list>
      
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="showScroll">
			<ion-infinite-scroll-content ></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>